.App {

}


.wordlist{
     display: flex;
     justify-content: center;
    list-style-type:none;
    margin-left: -37px;
}
.letter{

  padding: 0px 15px;
  /* text-decoration: underline; */
}

.hidden {
  visibility: hidden;
}
.show {
  visibility: visible;
}
.wordspot{
  display: inline;
  padding: 0px 5px;
  margin: 0px 5px;
}
.characters{
  text-align: center;
  width: 300px;
}